{% assign youtube_url = section.settings.url_youtube %}
{% assign youtube_id = youtube_url | split: 'v=' | last | split: '&' | first %}
{{ youtube_id }}

<div data-w-id="b0b9f518-ae55-5d92-8afd-a46ef7be1967" style="opacity:0" class="padding-global-2"><div class="container-large-2"><div class="header_hero-content"><div class="padding-section-large"><div><div class="margin-bottom margin-small text-align-center"><h1 class="heading-style-h2">
{{ section.settings.text_heading }}
</h1>
<h1>
{{ section.settings.text_title }}
</h1>
</div><div class="margin-top margin-medium flex-center"><div class="button-group-3"><a href="#" class="w-inline-block w-lightbox"><div class="watch-button"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="64" height="64" fill="currentColor" app="ikonik" class="watch-button-icon"><path d="M19.376 12.4161L8.77735 19.4818C8.54759 19.635 8.23715 19.5729 8.08397 19.3432C8.02922 19.261 8 19.1645 8 19.0658V4.93433C8 4.65818 8.22386 4.43433 8.5 4.43433C8.59871 4.43433 8.69522 4.46355 8.77735 4.5183L19.376 11.584C19.6057 11.7372 19.6678 12.0477 19.5146 12.2774C19.478 12.3323 19.4309 12.3795 19.376 12.4161Z" app="ikonik"></path></svg><div>WATCH NOW</div></div><script type="application/json" class="w-json">{
  "items": [
    {
      "url": "https://www.youtube.com/watch?v={{ youtube_id }}&pp=ygUJcmljayByb2xs",
      "originalUrl": "https://www.youtube.com/watch?v={{ youtube_id }}&pp=ygUJcmljayByb2xs",
      "width": 940,
      "height": 528,
      "thumbnailUrl": "https://i.ytimg.com/vi/{{ youtube_id }}/hqdefault.jpg",
      "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F{{ youtube_id }}%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D{{ youtube_id }}&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F{{ youtube_id }}%2Fhqdefault.jpg&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\">",
      "type": "video"
    }
  ],
  "group": "https://www.youtube.com/watch?v={{ youtube_id }}&pp=ygUJcmljayByb2xs"
}</script></a></div></div></div></div></div></div></div><div class="video-background-section"><div class="video-wrapper"><div class="video-embed-2 w-embed w-iframe"><style>#sikVideo {
    opacity: 1;
    transition: opacity 2s ease-in;
  }
</style><iframe id="sikVideo" src="https://www.youtube.com/embed/{{ youtube_id }}?autoplay=1&mute=1&enablejsapi=1&start=15&loop=1&controls=0&modestbranding=1" width="100%" height="100%" frameborder="0" allow="autoplay; encrypted-media; fullscreen" allowfullscreen="" playsinline=""></iframe></div></div></div><div class="header_background-video-wrapper"><div class="video-overlay-layer"></div></div> {% schema %}
{
  "name": "Hero Video",
  "settings": [
    { "id": "text_heading", "type": "text", "label": "Heading", "default": "Heading" },
    { "id": "text_title", "type": "text", "label": "Title", "default": "Medium length hero heading goes here" },
    { "id": "url_youtube", "type": "text", "label": "YouTube URL", "default": "https://youtu.be/gL7rnDgxEBo" }
  ]
}
{% endschema %}