<div class="padding-global"><div class="container-large"><h1 class="heading-style-h1 text-align-center">
{{ section.settings.text_headline }}
</h1>
<div class="collection-list-wrapper w-dyn-list"><div role="list" class="collection-list-2 w-dyn-items">{% for article in blogs['release'].articles limit:3 %}    <div li-for="article in blogs['release'].articles limit:3" role="listitem" class="collection-item-2 w-dyn-item">
                                    
                            <a href="#" id="w-node-_0a1b71a2-7e81-3c0a-dcec-dd07bb95e970-bb95e970" class="video_lightbox w-inline-block w-lightbox"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" viewbox="0 0 16 16" app="ikonik" class="ikonik-yo3dm"><path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393" app="ikonik"></path></svg><img src="{{ item.metafields.custom.thumbnail | imgurl:'master' }}" loading="lazy" li-object:src="item.metafields.custom.thumbnail | imgurl:'master'" alt="" class="video_thumbnail">
{% assign youtube_url = article.metafields.custom.youtube | default: "" %}
{% if youtube_url contains "youtube.com" or youtube_url contains "youtu.be" %}
  {% if youtube_url contains "v=" %}
    {% assign video_id = youtube_url | split: "v=" | last | split: "&" | first %}
  {% elsif youtube_url contains "youtu.be" %}
    {% assign video_id = youtube_url | split: "/" | last %}
  {% endif %}

  <script type="application/json" class="w-json">
  {
    "items": [
      {
        "url": "https://www.youtube.com/watch?v={{ video_id }}",
        "originalUrl": "https://www.youtube.com/watch?v={{ video_id }}",
        "width": 940,
        "height": 528,
        "thumbnailUrl": "https://i.ytimg.com/vi/{{ video_id }}/hqdefault.jpg",
        "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F{{ video_id }}%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D{{ video_id }}&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F{{ video_id }}%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
        "type": "video"
      }
    ],
    "group": ""
  }
  </script>

{% else %}
  <p>No valid YouTube URL found.</p>
{% endif %}/a>
                            
                        </div>
{% endfor %}</div><div class="w-dyn-empty"><div>No items found.</div></div></div></div></div> {% schema %} {"tag":"div","name":"Music Videos","class":"section_videos padding-vertical padding-large","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Music Videos"}],"presets":[{"name":"Music Videos","category":"Liquify"}]} {% endschema %}